<a class="SWARLink OLSKCommonTie" href="<%= process.env.SWAR_LINK_URL %>" title="<%= OLSKLocalized('SWARLinkText') %>" target="_blank">
	<img class="SWARLinkImage" src="<%= process.env.SWAR_LINK_ICON_URL %>" width="64" />
</a>
